
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.media {
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 0.5rem;
}
.counters {
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.04);

    strong {
        display: block;
        font-size: 2em;
    }

    .vote, .answer {
        width: 60px;
        height: 60px;
    }

    .status {
        border-radius: 0.5rem;

        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.answered-accepted {
            background: $color-green;
            color: $color-white;
        }
    }

    .view {
        margin-top: 0.75rem;
    }
}

.form-delete {
    display: inline;
}
